{% extends "base.html" %}

{% block title %}Reservation Admin{% endblock %}

{% block page_content %}

<div class="page-header mt-3">
    <h2>Hello, {% if is_admin %}{{ current_user.username }}{% else %}you are not an admin{% endif %}!</h2>
</div>

<div class="mt-5 ">
    <h3 class="text-secondary">Current reservation slots:
    
        From <strong>{{ res_so_far_from }}</strong> to 
        <strong>{{ res_so_far_to }}</strong>
    </h3>
</div>

<div class="mt-4">
    <h3>Create new slots for the month of {{next_month}}, {{year}}</h3>
    <form class="form "
          method="POST">
          {{ res_slot_form.hidden_tag() }}
  
          {{ res_slot_form.submit(class="btn btn-primary") }}
        
    </form>    
</div>


{% endblock %}