{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Table reservation{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Table reservation for {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}''{% endif %}</h1>
</div>

<div class="">
    <form class="form"
          method="POST">

        {{ res_form.hidden_tag() }}

        {{ wtf.form_field(res_form.reserve_date) }}

        {{ wtf.form_field(res_form.submit) }}


        {% for slot in slots%}

        <h2>Slot __</h2>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Table #</th>
                    <th scope="col">Seat capacity</th>
                    <th scope="col">Time slot</th>
                    <th scope="col">Reservation Status</th>
                    <th scope="col">Reserved by</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for field in res_form.reserved_statuses %}
                {% set res = slot[loop.index0]%}
                <tr>
                    <td>{{ res.table_no }}</td>
                    <td>{{ res.seat_capacity }}</td>
                    <td>{{ res.reservation_time_slot}}</td>
                    <td>{{ res.reservation_status }}</td>
                    <td>{{ res.reserved_by }}</td>
                    <td>
                        {{field()}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
</div>
</form>
{% endblock %}
