{% extends "base.html" %}

{% block title %}Spice Magic{% endblock %}


{% block page_content %}

<!--Hero section-->

<div class="container-xxl position-relative p-0">
    <div class="container-xxl py-2 bg-secondary mb-2">
        <div class="container my-2 py-2">
            <div class="row align-items-center g-5">
                <div class="col-lg-6 text-center text-lg-start">
                    <h1 class="display-3 text-white animated slideInLeft">Enjoy Our<br>Delicious Meal</h1>
                    <p class="text-white animated slideInLeft mb-4 pb-2">
                        Indulge in a Symphony of Flavors: Dive into a rich culinary journey that explores the diverse 
                        and exquisite flavors of India. From the robust spices of the North to the tangy and spicy 
                        delights of the South, every dish is a melody of flavors waiting to serenade your senses.</p>
                    <a href="{{ url_for('main.table_reservation') }}?for_date=today" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Book A Table</a>
                </div>
                <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                    <img class="img-fluid"  src="/static/images/front_image.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>


<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="row g-6">
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100" src="/static/images/about_1.jpg">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-100" src="/static/images/about_4.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h5 class="section-title ff-secondary text-start text-primary fw-normal"><b>Spice Magic</b>: A Taste of Indian Tradition</h5>
                <p class="mb-4">Welcome to Spice Magic, your gateway to the rich culinary heritage of India, located in the heart of Stockholm. 
                    Founded by Hermanpreet Kaur, a native of Punjab, our restaurant is a blend of traditional flavors and modern dining experience.
                </p>
                <p class="mb-4"> Discover the diverse flavors of India through our carefully curated menu that spans the spicy delights of the North 
                    to the tangy specialties of the South.
                </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
{% endblock %}