{% extends "base.html" %}

{% block title %}Spice Magic{% endblock %}


{% block page_content %}

<!-- Meat Menu Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h2 class="mb-5">Our Menu</h2>
        </div>
        <div class="ps-3 text-center">
            <h4 class="mt-n1 mb-0">Meat</h4>
        </div>
        <hr>
        <div class="row g-4">
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Chicken Tikka Masala</span>
                            <span class="text-primary">150 SEK</span>
                        </h5>
                        <small class="fst-italic">Grilled chicken in tomato and cashewnut sauce</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Ctreamy Lamb Korma</span>
                            <span class="text-primary">200 SEK</span>
                        </h5>
                        <small class="fst-italic">Lamb curry with Pistachio, Cashewnut, Coconut, and Creme Fraiche</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Beef Biriyani</span>
                            <span class="text-primary">250 SEK</span>
                        </h5>
                        <small class="fst-italic">Fried Rice with pieces of Beef cooked Biriyani sauce and garnished with Egg </small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Chicken Karai</span>
                            <span class="text-primary">150 SEK</span>
                        </h5>
                        <small class="fst-italic">Grilled Chicken pieces with Capsicum, Mushroom, and Chilli</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Meat Menu End -->


<!-- Fish Menu Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="ps-3 text-center">
            <h4 class="mt-n1 mb-0">Fish</h4>
        </div>
        <hr>
        <div class="row g-4">
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Mustard Lemon Salmon</span>
                            <span class="text-primary">200 SEK</span>
                        </h5>
                        <small class="fst-italic">Salmon curry with Mustard and Lime sauce</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Coconut Prawn Korma</span>
                            <span class="text-primary">200 SEK</span>
                        </h5>
                        <small class="fst-italic">Prawn curry with Pistachio, Cashewnut, Coconut, and Creme Fraiche</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Mackerel Curry</span>
                            <span class="text-primary">150 SEK</span>
                        </h5>
                        <small class="fst-italic">Mackerel curry with Potatoes in Tomato sauce</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Fried Prawn</span>
                            <span class="text-primary">200 SEK</span>
                        </h5>
                        <small class="fst-italic">Fried Prawn with Capsicum, Mushroom, and Chilli, with Peanut sauce</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fish Menu End -->

<!-- Vegan Menu Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="ps-3 text-center">
            <h4 class="mt-n1 mb-0">Vegan</h4>
        </div>
        <hr>
        <div class="row g-4">
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Spenach Tofu</span>
                            <span class="text-primary">150 SEK</span>
                        </h5>
                        <small class="fst-italic">Fried spenach with Tofu, Garlic, and Chilli</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Coconut Cauliflower Korma</span>
                            <span class="text-primary">150 SEK</span>
                        </h5>
                        <small class="fst-italic">Cauliflower curry with Pistachio, Cashewnut, and Coconut creme</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Mixed Vegetable</span>
                            <span class="text-primary">150 SEK</span>
                        </h5>
                        <small class="fst-italic">Fried Cauliflower, Potatoes, Carrots, Baby Corn, and Capsicum in Mustard oil</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>Daal Makhani</span>
                            <span class="text-primary">150 SEK</span>
                        </h5>
                        <small class="fst-italic">Lentil soup with Tomato and Potato bits</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fish Menu End -->

{% endblock %}